# CODEOWNERS for cluster-api-provider-nico
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*        @NVIDIA/nke-maintainer
.github/ @NVIDIA/nke-maintainer
